
html {
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	height: 100%;
  color: $color-button-active-bg;
}

body {
  height: 100vh;
	width: 100vw;
	background: #1d1d1d;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url('/images/background/site-bg.jpg'); /* Replace with image URL */
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */

  @media (min-width: 600px) {
    background-image: url('/images/background/bg-600px.png');
  }

  @media (min-width: 765px) {
    background-image: url('/images/background/bg-765px.png');
  }

  @media (min-width: 900px) {
    background-image: url('/images/background/bg-900px.png');
  }

  @media (min-width: 1024px) {
    background-image: url('/images/background/bg-1024px.png');
  }

  @media (min-width: 1366px) {
    background-image: url('/images/background/bg-1366px.png');
  }
}


img[src=""] {
  background-image: url('/images/misc/placeholder_grey_100x113.png');
}
