@font-face {
	font-family: "icomoon";
	src: url($font-icomoon-eot);
	src: url($font-icomoon-eot) format("embedded-opentype"),
		url($font-icomoon-woff) format("woff"), url($font-icomoon-ttf) format("truetype"),
		url($font-icomoon-svg) format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-family-lores-bold-narrow;
	src: url($font-lores-bold-narrow);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:$font-family-lores-narrow;
	src: url($font-lores-narrow);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-family-lores-wide;
	src: url($font-lores-wide);
	font-weight: normal;
	font-style: normal;
}