.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.pt-1 { padding-top: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.text-center { text-align: center; }
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }