:root {
  --tricorn-black: #2d2d2d;
  --jet: #333333ff;
  --taupe: #494442ff;
  --forestwood: #5a6054;
  --classic-french-gray: #8a8b85;
  --cadet-gray: #A3A7A9ff;
  --silver: #C0C0C0ff;
  --silverpointe: #d1d2cd;  
  --tangerine: #da9b00;
  --goldfinch: #fabf01;  
  --hokey-pokey: #c5a334;
  --satin-sheen-gold: #B69839ff;
  --bice-blue: #1A6996ff;
  --resonant-blue: #2f9bca;
  --retro-blue: #198bca;
}
