// Font Imports
$font-icomoon-eot: "/images/fonts/icomoon.eot";
$font-icomoon-woff: "/images/fonts/icomoon.woff";
$font-icomoon-ttf: "/images/fonts/icomoon.ttf";
$font-icomoon-svg: "/images/fonts/icomoon.svg";
$font-lores-bold-narrow: "/images/fonts/LR-Bold-Narrow.woff";
$font-lores-narrow: "/images/fonts/LR-Narrow.woff";
$font-lores-wide: "/images/fonts/LR-Wide.woff";

// Font Families
$font-family-icomoon: "icomoon";
$font-family-lores-bold-narrow: "lores-bold-narrow";
$font-family-lores-narrow: "lores-narrow";
$font-family-lores-wide: "lores-wide";

// Colors
$color-background-main: #198bca;
$color-navbar-main-bg: #2d2d2d;
$color-navbar-sub-bg: #2d2d2d;
$color-icon-active: #d1d2cd;
$color-brand-container-bg: #8a8b85;
$color-icon-default: #8a8b85;
$color-text-greeting: $color-icon-active;
$color-text-jerome: #c5a334;
$color-goldfinch: #fabf01;
$color-text-desc: $color-icon-active;
$color-button-hover-bg: rgba(204, 204, 204, 0.5);
$color-button-focus-shadow: rgba(179, 179, 179, 0.2);
$color-button-active-bg: $color-icon-active;
$color-disabled-text: rgba(0, 0, 0, 0.26);
$color-disabled-border: rgba(0, 0, 0, 0.12);

// Define breakpoints (mobile-first)
$breakpoints: (
	"xs": 320px,
	"sm": 600px,
	"md": 1024px,
	"lg": 1200px,
	"xl": 1366px
);

// Define base font sizes for different screen sizes
$font-sizes: (
	"xs": 0.95rem,
	"sm": 1rem,
	// Mobile-first base size
	"md": 1.125rem,
	"lg": 1.25rem,
	"xl": 1.5rem
);

$font-sizes-heading-jerome: (
	"xs": 50px,
	"sm": 75px,
	"md": 90px,
	"lg": 100px
);

$font-sizes-heading-greeting: (
	"xs": 20px,
	"sm": 26px,
	"md": 35px,
	"lg": 50px
);

$letter-spacing-heading-jerome: (
	"xs": -5px,
	"sm": -10px,
	"md": -10px,
	"lg": -15px
);

$font-sizes-heading-desc: (
	"xs": 13px,
	"sm": 16px,
	"md": 20px,
	"lg": 26px
);

$letter-spacing-heading-desc: (
	"xs": 2px,
	"sm": 4px,
	"md": 5px,
	"lg": 6px
);

$font-sizes-home-button: (
	"xs": 1rem,
	"sm": 1rem,
	"md": 1.25rem,
	"lg": 1.5rem
);

$font-sizes-content-heading: (
  "xs": 18px,
  "sm": 22px,
  "md": 27px,
  "lg": 45px
);

$font-sizes-content-description-values: (
  "xs": 14px,
  "sm": 18px,
  "md": 20px,
  "lg": 23px
);

$letter-spacing-content-heading-values: (
  "xs": -1px,
	"sm": -1px,
	"md": -1px,
	"lg": -3px
);

$letter-spacing-content-description-values: (
  "xs": 1px,
	"sm": 1px,
	"md": 1px,
	"lg": 1.25px
);


// Spacing & Dimensions
$spacing-default-margin-top: 1rem;
$spacing-xs-margin-top: 10%;
$spacing-sm-margin-top: 15%;
$spacing-md-margin-top: 2rem;
$spacing-lg-margin-top: 0;
$spacing-button-padding: 5px 20px;
$spacing-icon-hover-opacity: 0.3s;
$spacing-brand-container: 65px;
$spacing-brand-container-sm: 85px;
$spacing-navbar-main-height: 65px;
$spacing-nav-list-item: 45px;
$spacing-focus-outline-width: 4px;
$spacing-icon-opacity: 1;

// Border Radius
$border-radius-button: 10px;

// Transitions & Animations
$transition-default: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-slide-in: slideIn 0.5s forwards;
$animation-slide-out: slideOut 0.5s forwards;

// Box Shadows
$box-shadow-navbar-sub: 0 -2px 2px -2px gray;
$box-shadow-button-focus: 0 0 0 4px $color-button-focus-shadow;
$box-shadow-greeting: 4px 4px 6px rgba(0, 0, 0, 0.5);
$box-shadow-name: 4px 4px 6px rgb(35, 35, 35, 0.54);
