nav.site-nav {
	position: relative;
	width: 100%;
}

.nav-main {
	background-color: $color-navbar-main-bg;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (min-width: 1200px) {
		flex-direction: column;
	}

	.nav-main__brand {
		width: $spacing-brand-container; /* Set your desired width */
		height: $spacing-brand-container; /* Set your desired height */
		@include flex-center;
		overflow: hidden; /* Optional: hide overflow in case logo is larger */
		background-color: $color-brand-container-bg;
		padding: 0 15px;

		.nav-main__link {
			@include flex-center;
			@include full-width-height;
		}

		.nav-main__logo {
			@include fit-container;
		}
	}

	.nav-main__toggler {
		cursor: pointer;
		@include flex-center;
		height: 65px;
		width: 65px;
		padding: 5px 5px;
		margin-right: 1rem;
		.nav-sub__icon.nav-main__toggler--open.active {
			display: block;
			opacity: 1;
		}
		.nav-sub__icon.nav-main__toggler--open {
			font-size: xx-large;
			display: none;
			opacity: 0;
		}
		.nav-sub__icon.nav-main__toggler--close.active {
			display: block;
			opacity: 1;
		}
		.nav-sub__icon.nav-main__toggler--close {
			font-size: xx-large;
			display: none;
			opacity: 0;
			color: $color-icon-active;
		}

		@media (min-width: 1200px) {
			display: none;
			opacity: 0;
		}
	}
}

.nav-sub {
	background-color: $color-navbar-sub-bg;
	position: absolute;
	top: 65px; /* Position below the navbar-main */
	left: 100%; /* Start off-screen to the right */
	height: 65px;
	width: 100%;
	z-index: 1000;
	box-shadow: $box-shadow-navbar-sub; /* Optional: shadow for better visibility */
	overflow: hidden;

	@media (min-width: 1200px) {
		position: static;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 65px);
	}

	&.show {
		left: 0; /* Move into view */
		animation: $animation-slide-in; /* Custom keyframes for sliding in */
	}

	&.hide {
		left: 100%; /* Move out of view */
		animation: $animation-slide-out; /* Custom keyframes for sliding out */
	}

	&__list {
		list-style: none;
		height: inherit;
		width: 100%;
		padding: 0;
		@include flex-row-around;

		& li {
			position: relative;
			text-align: center;
			cursor: pointer;
			height: 45px;
			width: 45px;
		}

		& li a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			position: relative;
			text-decoration: none;
			color: inherit;
		}

		& li .icon {
			transition: opacity 0.3s ease-in-out;
			cursor: pointer;
		}

		/* ::before pseudo-element for the icon title */
		& li::before {
			content: attr(data-page);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		/* Change icon opacity and show the title on hover */
		& li:hover .nav-sub__icon {
			opacity: 0;
		}

		& li:hover::before {
			opacity: 1;
			color: gainsboro;
		}

		/* Active state to highlight current page */
		& .nav-sub__item--active .nav-sub__icon {
			color: gainsboro;
			opacity: 1; /* Keep the icon visible for the active state */
		}

		/* Prevent hover effect for active items */
		& .nav-sub__item--active:hover .nav-sub__icon {
			opacity: 1; /* Keep the icon visible when hovered on active items */
		}

		& .nav-sub__item--active:hover::before {
			opacity: 0; /* Hide the title when hovered on active items */
		}

		@media (min-width: 1200px) {
			display: flex;
			flex-direction: column;
			padding: 25px 0;
		}
	}
}
